# --- SECURITY ---
.env
.env.*

# --- PYTHON ---
#entorno virtual
venv/
env/
.venv/

#archivos compilados o cache
__pycache__/
*.pyc

#logs de ejecución
*.log
docker/scripts/*.log

# --- APP DATA & CONFIGS ---
tailscale/state/
jellyfin/config/
jellyfin/cache/
pihole/etc-pihole
pihole/etc-dnsmasq.d
homepage/config
qbittorrent/config
prowlarr/config
radarr/config
sonarr/config
bazarr/config

# --- SYSTEM ---
.DS_Store
Thumbs.db